# IBM DATATHON PROGRAM TEAM IMP20


This is our Program for the IBM DATATHON PROGRAM where we are creating a crowd density tracker for public transport.

In [1]:
import pandas as pd 
import numpy as np
import random

import csv
import re

In [2]:
stations = ["Banbury", "Oxford", "Reading", "Maidenhead", "Slough", "London"]

In [3]:
cities = pd.read_csv('gb.csv')
print(cities.columns)

Index(['city', 'lat', 'lng', 'country', 'iso2', 'admin_name', 'capital',
       'population', 'population_proper'],
      dtype='object')

In [4]:
initial = ""

# Keep asking for input until a valid station is entered
while initial not in stations:
    initial = input("Enter initial station (Banbury, Oxford, Reading, Maidenhead, Slough, London): ")
    if initial not in stations:
        print("Invalid station. Please enter one of the valid stations.")

# If the loop exits, the input is valid
print(f"You selected: {initial}")

Enter initial station (Banbury, Oxford, Reading, Maidenhead, Slough, London):  London

You selected: London

In [5]:
destination = ""

# Keep asking for input until a valid station is entered
while destination not in stations:
    destination = input("Enter destination station (Banbury, Oxford, Reading, Maidenhead, Slough, London): ")
    if destination not in stations:
        print("Invalid station. Please enter one of the valid stations.")

# If the loop exits, the input is valid
print(f"You selected: {destination}")

Enter destination station (Banbury, Oxford, Reading, Maidenhead, Slough, London):  Banbury

You selected: Banbury

In [6]:

def get_hour_input():
    while True:
        user_input = input("Please enter the time in this format, (XX:00): ")
        # Check if the input matches the pattern "XX:00"
        if re.match(r'^[0-1][0-9]:00$|^2[0-3]:00$', user_input):
            return user_input
        else:
            print("Invalid input. Please enter the time in the format 'XX:00'.")

# Get valid time input from the user
time = get_hour_input()
print(f"You entered: {time}")

Please enter the time in this format, (XX:00):  12:00

You entered: 12:00

In [7]:
def time_to_decimal(time_str):
    # Split the time string into hours and minutes
    hours, minutes = map(int, time_str.split(':'))
    
    # Calculate decimal hours
    decimal_hours = hours + minutes / 60.0
    
    return decimal_hours

time_decimal = time_to_decimal(time)
print(f"Decimal Time: {time_decimal}")

Decimal Time: 12.0

In [8]:
if 7 <= time_decimal and time_decimal <= 9:
    max = 100 # Maximum Number of passengers within the train. 
    min = 80 #MInimum number of passengers within the train. 

#The reasoning the values are higher are due to the hours being at peak hours. 

elif 9 < time_decimal and time_decimal < 17:
    max = 60
    min = 50

#The reasoning the values are lower are due to the hours being at non-peak hours. 

elif 17<= time_decimal and time_decimal <= 19:
    max = 100
    min = 80

#The reasoning the values are higher are due to the hours being at peak hours. 

else:
    max = 20
    min = 10 
#The reasoning the values are at their lowest are due to super-off peak hours. 

print(max, min)

60 50

In [9]:
print(cities["population"])

0      11262000
1       2919600
2        855679
3        855569
4        729977
         ...
256       24974
257       24903
258      232662
259      148167
260       46797
Name: population, Length: 261, dtype: int64

In [10]:
filtered_cities = cities[cities["city"].isin(stations)]

print(filtered_cities)

           city      lat     lng         country iso2       admin_name  \
0        London  51.5072 -0.1275  United Kingdom   GB  London, City of
29       Oxford  51.7500 -1.2500  United Kingdom   GB      Oxfordshire
43       Slough  51.5084 -0.5881  United Kingdom   GB           Slough
258     Reading  51.4550 -0.9711  United Kingdom   GB        Berkshire
259  Maidenhead  51.5205 -0.6842  United Kingdom   GB        Berkshire
260     Banbury  52.0604 -1.3272  United Kingdom   GB      Oxfordshire

     capital  population  population_proper
0    primary    11262000            8825001
29       NaN      152000             152000
43       NaN      119070             119070
258      NaN      232662             232662
259      NaN      148167             148167
260      NaN       46797              46797

In [11]:
S = sum(filtered_cities["population"])
average = S / len(stations)
print(average)

1993449.3333333333

In [12]:
if stations.index(initial) < stations.index(destination):
    inwards = True

elif stations.index(initial) > stations.index(destination):
    inwards = False

print(inwards)

False

In [16]:
passengers = 0
if inwards:
    for i in range(stations.index(initial)):
        population = filtered_cities[filtered_cities["city"] != stations[i]].loc[0,"population"]
        passengers += round(random.randint(min,max) * (population / average))
        passengers -= round(random.randint(0,min) * (population / average))
else:
    for i in range(len(stations)-1,stations.index(initial),-1):
        population = filtered_cities[filtered_cities["city"] != stations[i]].loc[0,"population"]
        passengers += round(random.randint(min,max) * (population / average))
        passengers -= round(random.randint(0,min) * (population / average))
print(passengers)

0